VR2EksamPaevakusimusSolution/WUAClient/Service References/DailyService/DailyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:32595/DailyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfQuestionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionDTO" nillable="true" type="tns:QuestionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionDTO" nillable="true" type="tns:ArrayOfQuestionDTO" />
  <xs:complexType name="QuestionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Published" type="xs:boolean" />
      <xs:element minOccurs="0" name="QuestionId" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionDTO" nillable="true" type="tns:QuestionDTO" />
  <xs:complexType name="ArrayOfQuestionAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionAnswerDTO" nillable="true" type="tns:QuestionAnswerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionAnswerDTO" nillable="true" type="tns:ArrayOfQuestionAnswerDTO" />
  <xs:complexType name="QuestionAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionAnswerId" type="ser:guid" />
      <xs:element minOccurs="0" name="QuestionId" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionAnswerDTO" nillable="true" type="tns:QuestionAnswerDTO" />
</xs:schema>