VR2EksamPaevakusimusSolution/WUAClient/Service References/DailyService/DailyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:32595/DailyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL.DTO" />
  <xs:import schemaLocation="http://localhost:32595/DailyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:32595/DailyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF.Library" />
  <xs:element name="getAllQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="getAllQuestionsResult" nillable="true" type="q1:ArrayOfQuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="getQuestionByIdResult" nillable="true" type="q3:QuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="findQuestionByTitleResult" nillable="true" type="q4:ArrayOfQuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionByDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionByDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="findQuestionByDescriptionResult" nillable="true" type="q5:ArrayOfQuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="question" nillable="true" type="q6:QuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF.Library" minOccurs="0" name="addQuestionResult" nillable="true" type="q7:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="question" nillable="true" type="q8:QuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF.Library" minOccurs="0" name="updateQuestionResult" nillable="true" type="q9:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="question" nillable="true" type="q10:QuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF.Library" minOccurs="0" name="deleteQuestionResult" nillable="true" type="q11:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllQuestionAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllQuestionAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="getAllQuestionAnswersResult" nillable="true" type="q12:ArrayOfQuestionAnswerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionAnswerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionAnswerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="getQuestionAnswerByIdResult" nillable="true" type="q14:QuestionAnswerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionAnswerByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionAnswerByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="findQuestionAnswerByTitleResult" nillable="true" type="q15:ArrayOfQuestionAnswerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionAnswersByQuestionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findQuestionAnswersByQuestionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="findQuestionAnswersByQuestionIdResult" nillable="true" type="q17:ArrayOfQuestionAnswerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="question" nillable="true" type="q18:QuestionAnswerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCF.Library" minOccurs="0" name="addQuestionAnswerResult" nillable="true" type="q19:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateQuestionAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="question" nillable="true" type="q20:QuestionAnswerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateQuestionAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCF.Library" minOccurs="0" name="updateQuestionAnswerResult" nillable="true" type="q21:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestionAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="question" nillable="true" type="q22:QuestionAnswerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestionAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCF.Library" minOccurs="0" name="deleteQuestionAnswerResult" nillable="true" type="q23:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>