VorgurakendusedIISolution/XMLFailideLoomineJaLugemine/XMLSchemas/Klassiruumid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="klassid">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="klass">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="number" type="xs:string" />
              <xs:element name="kasutus" type="xs:string" />
              <xs:element name="arvutid">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="arvuti">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number" type="xs:string" />
                          <xs:element maxOccurs="unbounded" name="config">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="aktiivne" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>